<template>
  <div class="msj-encontrada">
    <span
        :class="{ 'text-danger': estado === false,
                  'text-success': estado === true
                }"
    >
        {{ estado }}
    </span>
  </div>
</template>

<script>
export default {

}
</script>