<template>
    <div class="forma">
        <input type="text" placeholder="Dame una letra"> 
        <button
            class="btn_comprobar"
            @click="comprobar"
        >Comprobar</button>
        <hr />
    </div>
</template>

<script>
import { mapMutations } from "vuex"
export default {

    props: {
        letra: {
            type: String
        }
    },
    methods: {
        comprobar(){
            if(this.buscaLetra())
            {
                this.cambiaEstado(true)
            }
            else
            {
                this.cambiaEstado(false)
            }
        },
        ...mapMutations('modulo', ['buscaLetra', 'cambiaEstado'])
    }

}
</script>

<style scoped>
    .forma{
        padding: 20px;
        background-color: #eee;
    }

    hr{
        width: 60%;
        margin-top: 30px;
    }
</style>