<template>
    <div>
        <AhorcadoForm :letra="letraActual" />
        <AhorcadoResultado />
    </div>
</template>

<script>
import AhorcadoForm from '@/components/AhorcadoForm.vue'
import AhorcadoResultado from "@/components/AhorcadoResultado.vue";

export default {
    components: {
        AhorcadoForm,
        AhorcadoResultado
    },
    data(){
        return {
            letraActual: ''
        }
    }
}
</script>